/* variable */
:root{
    /* colors */
    --header-background: #4abdac;
    --button-color: #e7b733;
    --text-color: #fff;
    --border-color: #97f5c6bb; 

    /* fonts */
    --titles-fonts: 'Merienda', cursive;
    --texte-fonts: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body, html, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: var(--texte-fonts);    
}

.container {
    width: 100%;
    background: var(--header-background);
}

.header {
    position: fixed;
    background-color: #4abdac;
    width: 100%;
    height: 120px;
    color: var(--text-color);
    top: 0;
    box-shadow: 2px 0 5px rgb(122, 122, 122);
}

h2, h3 {
    font-family: var(--titles-fonts);
    text-align: center;
    padding: 1rem 0;
}

h3 {
    color: var(--text-color);
}

form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 400px;
    margin: auto;
}

form input {
    width: 80%;   
    padding: 10px;
    font-family: var(--texte-fonts);
}

form button {
    width: 19%;
    background: var(--button-color);
    color: #fff;
    font-family: var(--texte-fonts);
    font-weight: bold;
}

form input, form button {
    height: 2.2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    transition: all 0.35s ease-in;
}

form input:focus, form button:focus {
    outline: none;
}

form button:hover {
    background: #d1a42afd;
    cursor: pointer;
}

.store-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    padding-top: 20px;
    min-height: 550px;
}

.items {
    width: 75%;
}

.shipped-items {
    width: 23%;
}

.shipped-items {
    background: rgba(255, 254, 254, 0.24);
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items-container .item {
    width: 23%;
    margin: 10px 0;
}

.item {
    padding: 5px;
    background-color: azure;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item .item-detail {
    text-align: center;
}

.item .item-detail h4 {
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
    color: #297267ce;
    font-style: italic;
    font-size: 1.05rem;
}

.item .item-detail button {
    width: 80%;
    padding: 10px 0;
    margin-bottom: 10px;
    background: var(--button-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 48rem;
    font-size: 1.2rem;
}

.item .item-detail button:focus {
    outline: none;
}
